<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
	</head>
	<body>
		<h1>Ericka</h1>
		<h1><font color="red">{{ message }}</font></h1>
		<div class="login"  style="width: {{ wid }}">
			<form action="/login" method="POST">
				<h1>Login</h1>
				<input type="email" name="email" placeholder="Email id">
				<input  type="password" name="password" placeholder="password">
				<input class="li" type="submit" value="Login">
			</form>
			<a href="/signup"><input type="submit" class="sp" value="Sign up"></a>
		</div>
	</body>
</html>