<!DOCTYPE html>
<html>
	<head>
		<title>Login</title>
		<link rel="stylesheet" type="text/css" href="static/style.css">
	</head>
	<body>
		<h1>Regent Institute Of Science & Technology</h1>
		<h1><font color="red">{{ message }}</font></h1>
		<div class="login">
			<form action="" method="POST">
				<h1>Login</h1>
				<input type="email" name="email" placeholder="Email id">
				<input  type="password" name="password" placeholder="password">
				<input class="li" type="submit" value="Login">
			</form>
			<a href="/signup"><input type="submit" class="sp" value="Sign up"></a>
		</div>
	</body>
</html>