<!DOCTYPE html>
<html>
    <head>
        <title>signup</title>
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="static/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <h1>Regent Institute Of Science & Technology</h1>
        <div class="card" style="height:'auto'"> 
            <div class="card-footer">
                <form action="" method="POST">
                    <h3>Name : </h3>
                    <input type="text" name="name" class="form-control type_msg" placeholder="Shoubhik sen"> <br><hr>
                    <h3>Email : </h3>
                    <input type="email" name="email" class="form-control type_msg" placeholder="example123@example.com" value=""><br><hr>
                    <h3>Date of Birth : </h3>
                    <input type="date" name="dob" class="form-control type_msg"><br><hr>
                    <h3>Gender : </h3>
                    <div class='gender'>
                        <input type="radio" name="Gender" value="Male" class="gender-mf"><font color="white">Male</font>
                        <input type="radio" name="Gender" value="Female" class="gender-mf"><font color="white">Female</font>
                    </div><br /><br/><hr>
                    <h3>Password : </h3>
                    <input type="password" name="password" class="form-control type_msg" placeholder="********"><br /><hr />
                    <input type="submit" value="Submit" class="submit_btn"> 
                </form>
            </div>
        </div>
    </body>
</html>